@use 'src/main-styles';

.content {
  @include main-styles.content-view;
  background-image: linear-gradient(main-styles.$cgr6, main-styles.$cgr5);

  .section-heading {
    @include main-styles.section-heading;
  }


  .card-box {
    @include main-styles.card-box;

    .card {
      @include main-styles.card;

      .tape-one, .tape-two {
        position: absolute;
        height: 120px;
        width: 30px;
      }

      .paperclip {
        position: absolute;

        img {
          height: 120px;
          width: auto;

          @media (max-width: 415px){
            height: 80px;
          }
        }
      }

      .card-content {
        @include main-styles.card-content;
      }
    }

    .small {
      @include main-styles.small-card-size;

      .tape-one {
        top: -40px;
        left: 5px;
        background-color: rgba(main-styles.$cgr8, 0.3);
        transform: rotate(54deg);
      }

      .tape-two {
        bottom: -50px;
        right: 20px;
        background-color: rgba(main-styles.$cgr8, 0.3);
        transform: rotate(59deg);
      }

      .paperclip {
        top: -36px;
        right: 35px;
      }
    }


    .medium {
      @include main-styles.medium-card-size;

      .tape-one {
        top: -62px;
        left: 5px;
        background-color: rgba(main-styles.$cgr8, 0.3);
        transform: rotate(69deg);
      }

      .tape-two {
        bottom: -50px;
        right: 20px;
        background-color: rgba(main-styles.$cgr8, 0.3);
        transform: rotate(59deg);
      }

      .paperclip {
        top: -45px;
        right: -4px;
        transform: rotate(45deg);
      }
    }


    .large {
      @include main-styles.large-card-size;

      .tape-one {
        top: -40px;
        right: 5px;
        background-color: rgba(main-styles.$cgr8, 0.3);
        transform: rotate(-46deg);
      }

      .tape-two {
        bottom: -45px;
        left: 5px;
        background-color: rgba(main-styles.$cgr8, 0.3);
        transform: rotate(120deg);
      }

      .paperclip {
        transform: rotate(90deg);
        top: 30px;
        right: -3px;
      }
    }
  }
}



