<div class="content" id="Fertig">

  <h1 class="section-heading">Fertige Projekte</h1>

  <div class="card-box">

    <div class="card" *ngFor="let project of service.finishedProjects; let i = index"
         [class.small]="sizeByIndex(i + randomStartValue) === 'small'"
         [class.medium]="sizeByIndex(i + randomStartValue) === 'medium'"
         [class.large]="sizeByIndex(i + randomStartValue) === 'large'">

      <div class="paperclip">
        <img src="assets/paperclip.png" alt="paperclip">
      </div>
      <div class="tape-one"></div>
      <div class="tape-two"></div>


      <div class="card-content">

        <div class="text">
          <h2>{{project.title}}</h2>
          <p>{{project.text}}</p>
        </div>

        <img src="{{project.img}}" alt="preview">

      </div>

    </div>

  </div>

</div>
