<div class="content" id="Fertig">

  <div class="section-heading">

    <div class="section-heading-line"></div>
    <h1>Fertige Projekte</h1>

  </div>

  <div class="card-box">

    <div class="card" *ngFor="let project of service.finishedProjects; let i = index"
         [class.small]="service.sizeByIndex(i + service.randomStartValue) === 'small'"
         [class.medium]="service.sizeByIndex(i + service.randomStartValue) === 'medium'"
         [class.large]="service.sizeByIndex(i + service.randomStartValue) === 'large'">

      <div class="paperclip">
        <img src="assets/paperclip.png" alt="paperclip">
      </div>
      <div class="tape-one"></div>
      <div class="tape-two"></div>


      <div class="card-content">

        <div class="text">
          <h2>{{project.title}}</h2>

         <div class="icons">
           <a href="{{project.url}}" target="_blank" class="icon">
             <img  class="icon" src="assets/website-icon.png" alt="website-icon">
           </a>

           <a href="{{project.github}}" target="_blank" class="icon">
             <img  class="icon" src="assets/github-icon.png" alt="github-icon">
           </a>
         </div>

          <p>{{project.text}}</p>
        </div>

        <a href="{{project.url}}" target="_blank">
        <img class="preview" src="{{project.img}}" alt="preview">
        </a>

      </div>

    </div>

  </div>

</div>
