@use 'src/main-styles';

.content {
  @include main-styles.content-view;
  background-image: linear-gradient(main-styles.$cgr5, main-styles.$cgr4);

  .section-heading {
    @include main-styles.section-heading;
  }

  .card-box {
    @include main-styles.card-box;
    flex-direction: row;

    .card {
      @include main-styles.card;

      .pin {
        position: absolute;

        img {
          width: 50px;
          height: 50px;
          filter: hue-rotate(300deg);


          @media (max-width: 750px){
            width: 35px;
            height: 35px;
          }
        }
      }

      img {
        height: 25px;
        width: auto;
      }
    }

    .card-content {
      @include main-styles.card-content;
    }
  }

  .small {
    @include main-styles.small-card-size;

    .pin {
      top: 20px;
      right: 60px;
    }
  }

  .medium {
    @include main-styles.medium-card-size;

    .pin {
      top: 6px;
      right: 20px;
    }
  }


  .large {
    @include main-styles.large-card-size;

    .pin {
      top: 0;
      right: 140px;
    }
  }
}

