<div class="content" id="Kontakt">

  <div class="section-heading">
    <h1>Kontakt</h1>

    <div class="section-heading-line"></div>
  </div>

  <div class="box">

    <h2>Sie haben Fragen oder Anregungen?</h2>

    <div class="contact-box">

      <div>
        Besuchen Sie mich gern auf meiner
        <br>
        <div class="contact-links">
          <a href="https://mandy-blaschke.de" target="_blank">
          <img src="assets/home.png" alt="homepage">
          Homepage</a>
        </div>
      </div>

      <div>
        Natürlich erreichen Sie mich auch
        <br>
        <div class="contact-links">
          <a href="tel:+4915223001440">
          <img src="assets/tel.png" alt="telefon">
          telefonisch</a>
        </div>
      </div>

      <div>
        Oder Sie senden mir (vorzugsweise) eine
        <br>
        <div class="contact-links">
          <a href="mailto:ideen@mandy-blaschke.de">
          <img src="assets/mail.png" alt="mail">E-Mail</a>
        </div>
      </div>

    </div>

  </div>


  <div class="to-top">
    <button (click)="service.scrollToTop()">nach oben</button>
  </div>

</div>
