@use 'src/main-styles';

.content {
  @include main-styles.content-view;
  background-image: linear-gradient(main-styles.$cgr3, main-styles.$cgr2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 25px;

  .section-heading {
    @include main-styles.section-heading;
  }

  .box {
    @include main-styles.main-box;
    flex-direction: column;
    align-items: center;
    color: main-styles.$cgr8;
    transform: rotate(5deg);

    .pin {

      img {
        width: 50px;
        height: 50px;
        filter: hue-rotate(300deg);
        transform: rotate(260deg);
      }
    }

    .contact-box {
      text-align: center;

      .contact-links {
        margin: 20px 0;

        img {
          width: 25px;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          color: main-styles.$action;
          font-weight: bolder;
          font-size: 1.2rem;

          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}


