<div class="content" id="Ideen">

  <div class="section-heading">
    <h1>Projektideen</h1>

    <div class="section-heading-line"></div>
  </div>

  <div class="card-box">

    <div class="note" *ngFor="let project of service.projectIdeas">


      <div class="magnet">
        <img src="assets/magnet.png" alt="magnet">
      </div>

      <div class="card-content">

        <div class="text">
          <h2>{{project.title}}</h2>
          <p>{{project.text}}</p>
        </div>

        <div class="magnet2">
          <img src="assets/magnet.png" alt="magnet">
        </div>

      </div>

    </div>

  </div>

</div>
