@use 'src/main-styles';

.content {
  @include main-styles.content-view;
  background-image: linear-gradient(main-styles.$cgr4, main-styles.$cgr3);

  .section-heading {
    @include main-styles.section-heading;
  }

  .card-box {
    @include main-styles.card-box;
    flex-direction: row;
    flex-wrap: wrap;

    .note {
      @include main-styles.note;

      .card-content {
        @include main-styles.card-content;
      }
    }
  }
}

