<div class="content" id="Start">

  <div class="box">

    <div class="foto-box">

      <div class="foto">
        <img src="assets/foto.png" alt="foto" class="picture">

        <img src="assets/pin3.png" alt="pin-icon" class="pin">
      </div>

    </div>


    <div class="text-box">

      <div class="text-card">

        <div class="tape">
        </div>

        <div class="text">

          <h2>Hallo ich bin Mandy!</h2>

          <p>
            Seit Mitte des Jahres 2019 lerne ich Web Development im Selbststudium.
            <br>
            Hier zeige meine kürzlich veröffentlichten Projekte, solche die gerade in Arbeit sind und
            die Ideen für zukünftigen.
            <br>
            Außerdem werden Sie demnächst ein Archiv finden, in dem meine älteren Projekte zu finden sind.
            <br>
            <br>
            Ich bin immer auf der Suche nach einer Projektidee.
            <br>
            <span (click)="service.scrollIntoView('Kontakt')">Schreiben Sie mir gern!</span>
          </p>
        </div>

      </div>

    </div>

  </div>

</div>
