<div class="content" id="Start">

  <div class="box">

    <div class="left">

      <h2>Hallo ich bin Mandy!</h2>

      <p>
        Seit Mitte des Jahres 2019 lerne ich <b>Web Development</b> im Selbststudium.
        Hier veröffentliche meine veröffentlichten Projekte, solche, die gerade in Arbeit sind und
        die Ideen für zukünftige.
        <br>
        Ich bin immer auf der Suche nach einer Projektidee.
        <br>
        <span (click)="service.scrollIntoView('Kontakt')">Schreiben Sie mir gern!</span>
      </p>


    </div>

    <div class="right">
      <img src="assets/foto.png" alt="foto">
    </div>

  </div>

</div>
