@use 'src/main-styles';

.content {
  @include main-styles.content-view;
  background-image: linear-gradient(main-styles.$cgr7, main-styles.$cgr6);
  display: flex;
  justify-content: center;

  .box {
    @include main-styles.main-box;

    .left {
      margin: auto;
      width: 70%;
      justify-self: flex-start;
      color: main-styles.$cgr9;
      text-align: justify;

      span {
        color: main-styles.$action;
        font-weight: bolder;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .right {
      margin: auto;

      img {
        width: 120px;
        border-radius: 8px;
      }
    }
  }
}
